
 
body {
  background: #D1CCB6;
  
}


  

.sheesh {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: #4C6B55;
  font-size: 40px;
  
}



  .button {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color:#3C5141;
    background-color: #5D896B;
    border-radius: 30px;
    outline: none;
  }
  .button1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: #3C5141;
    background-color: #5D896B;
    border-radius: 30px;
    outline: none;
  }
  
  .button2 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: #3C5141;
    background-color: #5D896B;
    border-radius: 30px;
    outline: none;
  }

  .button3 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #3C5141;
    background-color: #5D896B;
    border-radius: 30px;
    outline: none;
  }

  .button4 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #3C5141;
    background-color: #5D896B;
    border-radius: 30px;
    outline: none;
  }
  .button5 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color:#3C5141;
    background-color: #5D896B;
    border-radius: 30px;
    outline: none;
  }


  .button6 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #3C5141;
    background-color: #5D896B;
    border-radius: 30px;
    outline: none;
  }