* {
	box-sizing: border-box;
}

body {
	background: #D1CCB6;
}

/*canvas 1*/
.canvas {
  width: 900px;
  height: 556px;
  margin: 100px auto;
  background: rgb(0, 0, 0);
  position: relative;
  z-index: 0;
}

.rectangle {
  width:200px;
  height: 400px;
  background: rgb(199, 195, 195);
  margin: auto;
  position: absolute;
  top:175px;
  left:440px;
 
  
}

.rectangle1 {
  width:150px;
  height: 300px;
  background: rgb(255, 255, 255);
  margin: auto;
  position: absolute;
  top:220px;
  left:465px;
 }


 .rectangle2 {
  width: 150px;
  height: 40px;
  background: rgb(137, 158, 191);
  margin: auto;
  position: absolute;
  top:430px;
  left:465px;
 }
 
.blink {
  animation: blinker 5s linear infinite;
  font-family: Arial, Helvetica, sans-serif;
  color: gold;
  font-size: 70px;
  position: absolute;
  top:320px;
  left:466px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


 


 .rogue {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 133, 133);
  font-size: 25px;
  position: absolute;
  top:230px;
  left:494px;
 }
 
 .flavor {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 10px;
  position: absolute;
  top:445px;
  left:470px;
 }

 /*canvas 2*/
 
 .rectangle01 {
  width:500px;
  height: 350px;
  background: rgb(202, 250, 255);
  margin: auto;
  position: absolute;
  top:890px;
  left:300px;
  border-radius: 90px / 100px;
  }

  .line {
    width:200px;
    height: 15px;
    background: rgb(255, 255, 255);
    margin: auto;
    position: absolute;
    top:990px;
    left:455px;
    border-radius: 90px / 100px;
    }

  .line2 {
  width:500px;
  height: 5px;
  background: rgb(14, 14, 14);
  margin: auto;
  position: absolute;
  top:990px;
  left:300px;
  border-radius: 90px / 100px;
  }
  
  .Blink1 {
    width:8px;
    height: 8px;
    background: rgb(13, 255, 0);
    margin: auto;
    position: absolute;
    top:1030px;
    left:550px;
    border-radius: 90px / 100px;

    animation: blinker 5s linear infinite;
    
  
    }